<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login Form</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <label for="email">Email:</label>
        {{ form.email(size=20) }}<br>
        <label for="password">password:</label>
        {{form.password(size=20)}} <br>
        <input type="submit" value="Submit">
    </form>
    {% for feild,errors in form.errors.items() %}
        {% for error in errors()%}
            {{error}}
        {% endfor %}
    {% endfor %}
</body>
</html>