<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action='/redresult' method="post">
        <label for="ai">AI:</label><br>
        <input type="text" id="ai" name="ai" value="0"><br>
        <label for="ml">ML:</label><br>
        <input type="text" id="ml" name="ml" value="0"><br>
        <label for="ds">DS:</label><br>
        <input type="text" id="ds" name="ds" value="0"><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>